2D Array

In [53]:
import numpy as np

In [54]:
ls = [[1,2,3],[3,2,5],[6,7,9]]
ls

[[1, 2, 3], [3, 2, 5], [6, 7, 9]]

In [55]:
type(ls)

list

In [56]:
ls[0]

[1, 2, 3]

In [57]:
ls[1]

[3, 2, 5]

In [58]:
arr = np.array(ls)
arr

array([[1, 2, 3],
       [3, 2, 5],
       [6, 7, 9]])

In [59]:
arr.ndim # for diminension of an array

2

In [60]:
arr.shape    # 5 row 3 column

(3, 3)

In [61]:
arr[2] # for single row

array([6, 7, 9])

In [62]:
arr[0:2]

array([[1, 2, 3],
       [3, 2, 5]])

In [63]:
arr[1,1:]

array([2, 5])

In [66]:
arr[-2:,-2:]

array([[2, 5],
       [7, 9]])

In [68]:
arr[-1:,-1:]

array([[9]])

In [69]:
arr[-1,-1] = 30
arr

array([[ 1,  2,  3],
       [ 3,  2,  5],
       [ 6,  7, 30]])

In [72]:
arr1 = np.random.randint(1,200,500) # it generate random array
arr1  # single diminension array

array([162,  28,   7,  14, 106,  22, 147,  92,  92, 191, 163, 113,  69,
       129,  29,  76, 121,  74,  83, 116,  75, 108, 170,  13,  78, 111,
        66,  19, 172,   3,  66,  45, 148, 180,  74, 151, 146, 149, 172,
       154,  97, 129,  81,  42, 195,  18, 112,  16, 100,   4,  96, 101,
       183, 112,  74, 183, 111, 191,  13,  21,  16, 109,  58,  68, 160,
       123, 111, 123, 129, 160,  49, 154,  90, 163, 179, 139,  85, 139,
        65, 104,  98, 108,  66, 120,  41,  56, 151, 196,   1, 116,  34,
       147,  39, 125,   3, 135,  75,  54, 180,  96, 189,  65, 181, 126,
        84,  63, 130,   4,  20, 163, 117, 179,  35, 132,  28, 151, 180,
        92, 147,  61,  68,  63,  30, 180, 110, 145, 145,  92,  32,  12,
        60,  39,  82, 118,  77, 198, 185, 122,  57,  69, 119, 121,  97,
        30,  83, 193,  70, 119,  68,  27,  22, 169, 169,  62, 174,  18,
        49,  87,  62, 151,  73, 187,  55,  53,  67, 160, 125,   5, 154,
        79, 123, 125, 181, 107,  45,  99, 188,  61,  79, 149,  92,  88,
       134, 111,  95, 156, 186,  46, 130,  49, 131, 143,  26, 138,  38,
        44, 110, 124,  41, 169,  85, 189,  90, 140, 148,  60,  11, 120,
        40,  56, 171, 194, 100, 116, 178, 178,  48,  15,  87,  33, 142,
        49,  82, 131,   3,  86,  33,  31, 117,  71, 147, 190, 185, 104,
        27,  57, 168,  25,   2, 136,  10, 166, 166, 171,  37, 133,  60,
        28, 108, 117,  71,  69,  17,  48,  76, 172,  87, 140,  27, 130,
       110, 191,  50,  91,  22,  29,  43, 130, 110, 166,  75, 111,  48,
       169,  22, 151,  50,  59, 143, 180, 132, 199, 187,  42,  45,  15,
       128,  45,  54, 139, 163, 142, 127, 129, 192,  51, 158,  83,  83,
       100, 131,  15,  48,  49,  97,  43, 157,  76, 104, 191, 187,  84,
       181, 156,  94, 161, 163, 169,  66, 131, 153, 150, 185, 113,  55,
       125,  93, 189,  57, 154,  12,  98,  13, 176,  36, 167, 190,  36,
       125,  61,  81,  31,   3,  66,  81,  20, 131, 122,   7,  46,  28,
       170,  87,  64, 162,  11, 128,  85,   7, 191,  50,  26,  89, 117,
       186,  89, 143, 178, 117,   1,  20, 148, 151,  81,  85,  32,  70,
        55,  98,  57,  49,  26,  10, 126,  68,  62,  55, 160,  81, 199,
         5,   9,  37,  25, 198, 161,  35,  61, 184,  11, 164,  59,  18,
        76,  75, 184,  64, 199,  40,  21, 168,  68, 150,  54,  13,  11,
        49, 126,  98, 165, 129,   8, 131,  53,  36,  82,  56, 161, 152,
       114, 134, 148,  16, 182, 160,   7, 131,  11, 102, 196, 120,  85,
       128,  30, 111,  96,  23,  66, 130, 114,  92, 165,  24, 178, 153,
        52,  14,  57, 173, 159,  76,  57, 145, 118, 190, 102,  49,  20,
        34, 167,  65,  78, 146,   2, 167, 110,  65,   4,  43,  33, 146,
       179, 119,  55,   7,   7, 141,  77, 146, 183, 123,  44, 162,  90,
        57, 184,  50,  24, 137, 164])

In [ ]:
# arr filter all those items that are less then equals to 100
# comments ----> how many items in your arrays

In [75]:
arr1[arr1 <= 100]

array([ 28,   7,  14,  22,  92,  92,  69,  29,  76,  74,  83,  75,  13,
        78,  66,  19,   3,  66,  45,  74,  97,  81,  42,  18,  16, 100,
         4,  96,  74,  13,  21,  16,  58,  68,  49,  90,  85,  65,  98,
        66,  41,  56,   1,  34,  39,   3,  75,  54,  96,  65,  84,  63,
         4,  20,  35,  28,  92,  61,  68,  63,  30,  92,  32,  12,  60,
        39,  82,  77,  57,  69,  97,  30,  83,  70,  68,  27,  22,  62,
        18,  49,  87,  62,  73,  55,  53,  67,   5,  79,  45,  99,  61,
        79,  92,  88,  95,  46,  49,  26,  38,  44,  41,  85,  90,  60,
        11,  40,  56, 100,  48,  15,  87,  33,  49,  82,   3,  86,  33,
        31,  71,  27,  57,  25,   2,  10,  37,  60,  28,  71,  69,  17,
        48,  76,  87,  27,  50,  91,  22,  29,  43,  75,  48,  22,  50,
        59,  42,  45,  15,  45,  54,  51,  83,  83, 100,  15,  48,  49,
        97,  43,  76,  84,  94,  66,  55,  93,  57,  12,  98,  13,  36,
        36,  61,  81,  31,   3,  66,  81,  20,   7,  46,  28,  87,  64,
        11,  85,   7,  50,  26,  89,  89,   1,  20,  81,  85,  32,  70,
        55,  98,  57,  49,  26,  10,  68,  62,  55,  81,   5,   9,  37,
        25,  35,  61,  11,  59,  18,  76,  75,  64,  40,  21,  68,  54,
        13,  11,  49,  98,   8,  53,  36,  82,  56,  16,   7,  11,  85,
        30,  96,  23,  66,  92,  24,  52,  14,  57,  76,  57,  49,  20,
        34,  65,  78,   2,  65,   4,  43,  33,  55,   7,   7,  77,  44,
        90,  57,  50,  24])

In [76]:
arr1[arr1 <= 100].size

264

In [79]:
len(arr1 <= 100)

500

In [80]:
arr1[arr1 <= 100].shape

(264,)

In [81]:
arr2 = np.random.randint(1,200,(10,5))
arr2

array([[149, 104,  38,  83, 126],
       [177,  89,  26, 101,  39],
       [100, 179, 160, 113, 188],
       [114, 186, 111, 168,  20],
       [151,  43,  23,  62, 181],
       [ 98,  69, 156,  44, 123],
       [ 12, 136, 129,  82,  33],
       [119, 176, 189,  56, 197],
       [155,   4, 122, 185,  93],
       [126,  24, 146,  72,  70]])

In [82]:
arr2.ndim

2

In [83]:
arr3 = np.zeros(10)
arr3

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [88]:
arr3.ndim

2

In [85]:
arr3.dtype

dtype('float64')

In [86]:
arr3 = np.zeros((10,5))
arr3

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [87]:
arr3.ndim

2

In [89]:
arr = np.ones(10)
arr

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [90]:
arr = np.ones((10,5))
arr

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [91]:
ls = [0,1,2,3,4,5,6,7,8,9]
ls

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [94]:
ls = list(range(10))
ls

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [97]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [98]:
arr = np.arange(5,30)
arr

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
       22, 23, 24, 25, 26, 27, 28, 29])

In [99]:
arr = np.arange(60)
arr  # 1D single

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59])

In [100]:
arr.reshape(10,6)

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35],
       [36, 37, 38, 39, 40, 41],
       [42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53],
       [54, 55, 56, 57, 58, 59]])

In [106]:
arr = arr.reshape(6,10)

In [105]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59])

In [104]:
arr.reshape(20,3)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17],
       [18, 19, 20],
       [21, 22, 23],
       [24, 25, 26],
       [27, 28, 29],
       [30, 31, 32],
       [33, 34, 35],
       [36, 37, 38],
       [39, 40, 41],
       [42, 43, 44],
       [45, 46, 47],
       [48, 49, 50],
       [51, 52, 53],
       [54, 55, 56],
       [57, 58, 59]])